* {
    border: 0px solid black;
}
body {
    margin: 0;
}

.bgCenter {
    background-position: center center;
    background-repeat: no-repeat;

}

/* -----------NAVBAR---------------*/

.navBar {
    padding: 0px 30px 0px 10px;
    height: 42px;
    width: 100%;
    background-color: white;
    border-bottom: 1px solid lightgray;
    position: fixed;
    top: 0;
    left: 0;
    background-image: url("images/thenewyorktimes.png");
    background-size: 204px 31px;
    background-position: center center;
    background-repeat: no-repeat;

}
.navBarTransBtn {
    margin-top: 5px;
    width: 36px;
    height: 36px;
    background-size: 14px 14px;
    float: left;
    cursor: pointer;
    border-radius: 6px;
}
.navBarTransBtn:hover {
    background-color: #f4f4f4;
}
#navMenuBtn {
    background-image: url("images/menu-4-48.png");
}
#navSearchBtn {
    background-image: url("images/search-13-48.png");
}
.spaceCosmos {
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-decoration: none;
    color: #111;
    display: block;
    float: left;
    margin: 12px 0 0 20px;
}
.spaceCosmos:hover {
    text-decoration: underline;
}
.btn {
   border: 1px solid darkblue;
   margin-right: 7px;  
   padding: 10px 11px 12px 11px;
   background-color: rgb(74, 121, 150);
   text-decoration: none;
   color: white;
   text-align: center;
   font-family: Arial, Helvetica, sans-serif;
   font-size: 11px;
   font-weight: bold;
   border-radius: 3px;
   float: right;
   margin-top: 4px;
   box-sizing: border-box;
   height: 75%;
}

.btn:hover{
    background-color: #336891;
}

.btn2{
    margin-right: 26px;  
}

.mainSection {
    margin-top: 70px;
}

/* -----------COSMOS---------------*/

.topHeaderContainer {
    width: 620px;
    margin: auto;
    text-align: left;
    padding: 0 20px;
}
.topHeader {
    font-size: 40px;
    font-weight: bolder;
}

.cosmosContainer {
    margin: auto;
    width: 95%;
    max-width: 1024px;
}
.cosmos {
    width: 100%;
}

.caption {
    display: block;
    margin-top: 5px;
    text-align: left;
    width: 100%;
    /* height: 1000px; */
    max-width: 700px;
    font-family: 'Times New Roman', Cambria, Cochin, Georgia, Times, serif;
    font-size: 16px;
    color: #444;
}
.caption  span {
    margin-left: 6px;
    color: #777;
    font-size: 14px;
}

/* -----------ARTICLE---------------*/

.articleSection {
    width: 100%;
    /* height: 2000px; */
    /* background-color: gray; */
    display: flex;
    padding: 40px 0 20px 0;
    
}


.articleContent {
    width: 80%;
    /* background-color: green; */
    min-width: 600px;
}

.articleInnerContent {
     width: 75%;
     /* background-color: hotpink; */
     height: 100%;
     float: right;
     box-sizing: border-box;
     padding: 0 8%;
     
}

.articleHeader {
    height: 70px;
    /* background-color: indigo; */
}

.articleHeader p, a {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 14px;
    color: #333333;
    height: 30px;
}

 .articleHeader a:hover {
     text-decoration: none;
 }

 .articleHeaderBottomLeft {
     /* background-color: lightblue; */
     float: left;
     height: 40px;
     width: 150px;
     padding-top: 20px;
     box-sizing: border-box;
 }

 .articleHeaderBottomRight {
     /* background-color: lightcoral; */
     float: right;
     height: 40px;
     width: 300px;
     text-align: right;
     
 }

 .articleHeaderIconList {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
 }
 .articleHeaderIconList li {
     display: inline-block;
     width: 40px;
     height : 40px;
     /* background-color: gray; */
     background-position: center center;
     background-repeat: no-repeat;
 }

.articleHeaderIconList li:hover {
    border: 1px solid #999;
    background-color:white;
}

.fbLi {
    background-image: url("images/fb.png");
    background-size: 10px 20px;
    border-radius: 50%;
    border: 1px solid white;
    background-color: #eee;
}
.ttLi {
    background-image: url("images/twitter.png");
    background-size: 20px 20px;
    border-radius: 50%;
    border: 1px solid white;
    background-color: #eee;
}
.mailLi {
    background-image: url("images/mail.png");
    background-size: 20px 16px;
    border-radius: 50%;
    border: 1px solid white;
    background-color: #eee;
}
.retLi {
    background-image: url("images/return.png");
    background-size: 20px 20px;
    border-radius: 50%;
    border: 1px solid white;
    background-color: #eee;
}
.saveL {
    background-image: url("images/save.png");
    background-size: 30px 38px;
    background-color: white;
    border: 1px solid white;
}
.comL {
    background-image: url("images/comment.png");
    background-size: 35px 30px;
    background-color: white;
    border: 1px solid white;
}
.articleBody {
    /* background-color: gray; */
    box-sizing: border-box;
}
 .articleBody p {
     font-size: 22px;
     font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
 }
 .articleBody p a {
    font-size: 22px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: normal;
    color: rgb(27, 102, 169);
}
.articleBody h2 {
    font-size: 22px;
    color: #444;
}

.imgDiv img {
    width: 100%;
    
}

 .unlockMore {
     width: 40%;
     height: 80px;
     /* background-color: lightseagreen; */
     margin: auto;
     text-align: center;
     font-family: Arial, Helvetica, sans-serif;
 }

 .unlockMore h4 {
     margin-top: 15px;
     margin-bottom: 0;
     font-size: 14px;
     
     }

 .unlockMore a {
     display: block;
     margin-bottom: 5px;
     text-decoration: none;
     color: #4A7A9E;
 }
 .unlockMore div {
     border-bottom: 1px solid lightgray;
     width: 80px;
     height: 1px;
     margin: auto;
 }

 /* -----------EDITOR---------------*/

 .editorsPick {
    width: 20%;
    /* background-color: greenyellow; */
    display: flex;
    padding-right: 20px;
    box-sizing: border-box;
 }

 .editorsPickContent {
     /* background-color: lightblue; */
     height: 400px;
     width: 100%;
     align-self: center;
 }
.editorsPickHeader {
    border-bottom: 1px solid silver;
    font-size: 14px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px 0;
}
.editorsPickStory {
    height: 90px;
    margin-top: 10px;
    /* background-color: gray; */
    display: flex;
    width: 100%;
    align-items: center;
}
.editorsPickStory img {
    width: 75px;
}

.editorsPickStory p {
    display: inline-block;
    margin: 0 10px;
    
    
}
.editorsPickStory p a { 
    font-size: 14px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-decoration: none;
}
.editorsPickStory p:hover {
    text-decoration: underline;
}

 /* -----------GRID---------------*/

 .inflationGridSection {
     /* background-color: slategrey; */
     /* height: 500px; */

     margin: auto;
     width: 97%;
     max-width: 950px;
     min-width: 600px;

     /* min-height: 800px; */
 }
 .inflationGridHeader {
    /* background-color: whitesmoke; */
 }
 .inflationGridHeader h3 {
    margin-bottom: 5px;
 }
 .inflationGridHeader p {
    margin: 0 0 10px 0;
 }
 .inflationGridBody {
    /* background-color: silver; */
    width: 100%;
    /* min-height: 600px; */
    /* margin-top: 10px; */
    /* margin-bottom: 500px; */

    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 10px;
    overflow: hidden;
 }
 /* .inflationGridCell {
     background-color: green;

 } */
 .inflationGridCellImage {
    /* background-color: yellow; */
    height: 50%;
 }
 .inflationGridCellDesc p {
    /* background-color: whitesmoke; */
     margin: 10px 0 10px 0;
     font-family: Arial, Helvetica, sans-serif;
     font-size: 13px;
 }

 .inflationGridCellImage img {
     width: 100%;
 }

 .inflationGridFooter {
     width: 100%;
     height: 60px;
     margin-top: 20px;
     /* background-color: lightseagreen; */
 }
